<body>
  <section class="home_carousel_area">
    <div class="home_carousel_slider owl-carousel">
      <% for(var i=0;i<category.length;i++){ %>
        <div class="item">
          <div class="h_carousel_item">
            <img src="/category-images/<%= 
            category[i].image %>" alt="">
            <div class="carousel_hover">
              <h3>
                <%= category[i].name %>
              </h3>
              <h5></h5>
              <p>
                <%= category[i].description %>
              </p>
              <a class="discover_btn" href="#">discover now</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </section>


  <section class="special_offer_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="special_offer_item">
            <img class="img-fluid" src="/users/images/feature-add/special-offer-1.jpg" alt="">
            <div class="hover_text">
              <h4>Special Offer</h4>
              <h5>Young Couple</h5>
              <a class="shop_now_btn" href="/shop">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="special_offer_item2">
            <img class="img-fluid" src="/users/images/feature-add/special-offer-2.jpg" alt="">
            <div class="hover_text">
              <h5>girls bag</h5>
              <a class="shop_now_btn" href="/shop">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fillter_latest_product">
    <div class="container">
      <div class="single_c_title">
        <h2>Our Latest Products</h2>
      </div>
      <div class="fillter_l_p_inner">
        <ul class="fillter_l_p">
          <li class="active" data-filter="*"><a href="#">All</a></li>
          <% for(var i=0;i<category.length;i++){ %>
            <li data-filter=".<%= category[i].name %>"><a href="#">
                <%= category[i].name %>
              </a></li>
            <% } %>
        </ul>
        <div class="row isotope_l_p_inner">
          <% for(var i=0;i<product.length;i++){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 <%= product[i].category.name %>">
              <div class="l_product_item">
                <div class="l_p_img">
                  <a href="/shop/product?id=<%= product[i]._id %>">
                    <img class="img-fluid" src="/products-images/<%= product[i].images[0] %>" alt="" height="100%"
                      width="100%">
                  </a>
                </div>
                <div class="l_p_text">
                  <ul>
                    <li class="p_icon"><a style="cursor: pointer;"><i class="icon_piechart"
                          style="cursor: pointer;"></i></a></li>
                    <li><button class="add_cart_btn" onclick="addToCart('<%= product[i]._id %>')"
                        style="cursor: pointer;">Add To Cart</button>
                    </li>
                    <li class="p_icon"><a onclick="addToFavorites('<%= product[i]._id %>')"><i class="icon_heart_alt"
                          style="cursor: pointer;"></i></a></li>
                  </ul>
                  <h4>
                    <%= product[i].title %>
                  </h4>
                  <h5><del>$<%= product[i].price+(product[i].price*15/100) %>0</del> $<%= product[i].price %>
                  </h5>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </section>

  <script src="/users/javascript/axios-shop.js"></script>
</body>