<body>
  <section class="emty_cart_area pt_100">
    <div class="container">
      <div class="emty_cart_inner">
        <i class="icon-user icons"></i>
        <h3>
          <%= user.fullname %>
        </h3>
      </div>
    </div>
  </section>


  <section class="register_area p_80">
    <div class="container">
      <div class="register_inner">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="user_details">
              <form class="billing_inner row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="name">Full Name </label>
                    <input type="text" class="form-control" id="name" aria-describedby="name"
                      value="<%= user.fullname %>" style="background-color: white;" disabled>
                  </div>

                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="name">Username </label>
                    <input type="text" class="form-control" id="name" aria-describedby="name"
                      value="<%= user.username %>" style="background-color: white;" disabled>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="name">Email </label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" value="<%= user.email %>"
                      style="background-color: white;" disabled>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="name">Phone </label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" value="<%= user.phone %>"
                      style="background-color: white;" disabled>
                  </div>
                </div>
                <div class="col-lg-12 pb_50">
                  <a href="/userprofile/edit-user-details" class="add_cart_btn">Edit Details</a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
  </section>



  <% if(address && address.Addressess.length>0 ){ %>
    <section class="register_area">
      <div class="container">
        <div class="register_inner">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <h4>
                Saved Address
              </h4>
              <div class="row mb_50">
                <% for( let i=0; i < address.Addressess.length; i++ ) { %>
                  <div class="col-lg-6">
                    <div class="order_cards">
                      <h6>
                        <%= address.Addressess[i].fullname %>
                      </h6>
                      <br>
                      <p>
                        Phone : <%= address.Addressess[i].phone %>
                      </p>
                      <p>
                        <%= address.Addressess[i].state %>,
                          <%= address.Addressess[i].city %>,
                            <%= address.Addressess[i].buildingName %>,
                              <%= address.Addressess[i].area %>,
                                <%= address.Addressess[i].PIN %>
                      </p>
                      <p>
                        PIN : <%= address.Addressess[i].PIN %>
                      </p>
                      <br>
                      <a style="color: red; cursor: pointer;"
                        onclick="deleteAddress('<%= address.Addressess[i]._id %>')">
                        Delete
                      </a>
                      <a style="color: black; cursor: pointer; float: right;"
                        href="/userprofile/edit-address?id=<%= address.Addressess[i]._id %>">
                        Edit
                      </a>
                    </div>
                  </div>
                  <% } %>
              </div>
              <div class="pb_50" style="padding-top: 20px;">
                <a href=" /userprofile/add-address" class="add_cart_btn">Add Address</a>
                <form action="/logout?_method=DELETE" method="post" style="float: right; margin-top: 50px;">
                  <button class="forgot_pass_btn mb_50" type="submit">Logout</button>
                </form>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </section>
    <% } else { %>
      <section class="emty_cart_area pb_100">
        <div class="container">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <div class="emty_cart_inner">
                <h3>You don't have any Address Saved</h3>
                <h4>Add an <a href="/userprofile/add-address">Address</a></h4>
              </div>
              <div class="pb_50" style="padding-top: 20px;">
                <form action="/logout?_method=DELETE" method="post" style="float: right; margin-top: 50px;">
                  <button class="forgot_pass_btn mb_50" type="submit">Logout</button>
                </form>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>

        </div>
      </section>
      <% } %>


        <script src="/users/javascript/axios-profile.js"></script>
</body>