<body>
  <section class="categories_banner_area">
    <div class="container">
      <div class="c_banner_inner">
        <h3>shop</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li class="current"><a href="#">Shop</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="categories_product_main p_80">
    <div class="container">
      <div class="categories_main_inner">
        <div class="row row_disable">
          <div class="col-lg-9 float-md-right">
            <div class="showing_fillter">
              <div class="row m0">
                <div class="first_fillter">
                  <h4>Showing 1 to 12 of 30 total</h4>
                </div>
              </div>
            </div>
            <div class="categories_product_area">
              <% if (message.length>0) { %>
                <div class="mb_50" style="color: red; text-align: center;">
                  <h3>
                    <%= message %>
                  </h3>
                </div>
                <% } %>
                  <div class="row" id="all-products">
                    <% if (products.results.length>0) { %>
                      <% for (i=0; i<products.results.length;i++) { %>
                        <div class="col-lg-4 col-sm-6">
                          <div class="l_product_item">
                            <div class="l_p_img">
                              <a href="/shop/product?id=<%= products.results[i]._id %>">
                                <img src="/products-images/<%= products.results[i].images[0] %>" alt="" height="100%"
                                  width="100%">
                                <h5 class="new">New</h5>
                              </a>
                            </div>
                            <div class="l_p_text">
                              <ul>
                                <li class="p_icon"><a style="cursor: pointer;"><i class="icon_piechart"></i></a></li>

                                <li><button class="add_cart_btn" onclick="addToCart('<%= products.results[i]._id %>')"
                                    style="cursor: pointer;">Add To Cart</button>
                                </li>

                                <li class="p_icon"><a onclick="addToFavorites('<%= products.results[i]._id %>')"><i
                                      class="icon_heart_alt"></i></a></li>
                              </ul>
                              <h4>
                                <%= products.results[i].title %>
                              </h4>
                              <h5>
                                ₹ <%= products.results[i].price %>
                              </h5>
                            </div>
                          </div>
                        </div>
                        <% } %>
                          <% } %>
                  </div>
                  <nav aria-label="Page navigation example" id="pagination_area" class="pagination_area">
                    <% if (pagination) { %>
                      <ul class="pagination">
                        <% if (products.previous) { %>
                          <li class="page-item next"><a class="page-link"
                              href="/shop?page=<%= products.previous.page %>&limit=<%= products.previous.limit %>"><i
                                class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                          <% } %>
                            <li class="page-item"><a class="page-link" href="#">
                                <%= products.current.page %>
                              </a></li>
                            <% if (products.next) { %>
                              <li class="page-item next"><a class="page-link"
                                  href="/shop?page=<%= products.next.page %>&limit=<%= products.next.limit %>"><i
                                    class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <% } %>
                      </ul>
                      <% } %>
                  </nav>
            </div>
          </div>
          <div class="col-lg-3 float-md-right">
            <div class="categories_sidebar">
              <aside class="l_widgest l_p_categories_widget">
                <div class="l_w_title">
                  <h3>Categories</h3>
                </div>
                <ul class="navbar-nav">
                  <% for (i=0;i<category.length;i++) { %>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" style="cursor: pointer;"
                        onclick="categorySearch('<%= category[i]._id %>')" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= category[i].name %>
                          <i class="icon_plus" aria-hidden="true"></i>
                          <i class="icon_minus-06" aria-hidden="true"></i>
                      </a>
                    </li>
                    <% } %>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/users/javascript/axios-shop.js"></script>
</body>