<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
        <%- include('../admin-views/partials/side-bar.ejs') %>
            <div class="flex flex-col flex-1 w-full">
                <%- include('../admin-views/partials/header.ejs') %>
                    <main class="h-full pb-16 overflow-y-auto">
                        <!-- Remove everything INSIDE this div to a really blank page -->
                        <div class="container px-6 mx-auto grid">
                            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                Orders List
                            </h2>
                            <% if(orders.length>0){ %>
                                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full whitespace-no-wrap">
                                            <thead>
                                                <tr
                                                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                    <th class="px-4 py-3">User</th>
                                                    <th class="px-4 py-3">Order Status</th>
                                                    <th class="px-4 py-3">Pyment Type / Status</th>
                                                    <th class="px-4 py-3">Ordered Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                                <% for(var i=0;i<orders.length;i++){ %>
                                                    <tr class="text-gray-700 dark:text-gray-400">
                                                        <td class="px-4 py-3">
                                                            <a
                                                                href="/admin/dash/orders/order-details?id=<%= orders[i]._id %>">
                                                                <div class="flex items-center text-sm">
                                                                    <p class="font-semibold" style="overflow: hidden;
                                                                white-space: nowrap;
                                                                text-overflow: ellipsis; max-width:20em;">
                                                                        <%= orders[i].user.fullname %>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders[i].orderStatus %>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders[i].paymentDetails.paymentType %>/<%=
                                                                    orders[i].paymentDetails.paymentStatus %>

                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders[i].createdAt %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div
                                        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                                        <span class="flex items-center col-span-3">
                                            Showing <%= orders.length %> of <%= orders.length %>
                                        </span>
                                        <span class="col-span-2"></span>
                                        <!-- Pagination -->
                                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                                            <nav aria-label="Table navigation">
                                                <ul class="inline-flex items-center">
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                                            aria-label="Previous">
                                                            <svg aria-hidden="true" class="w-4 h-4 fill-current"
                                                                viewBox="0 0 20 20">
                                                                <path
                                                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                                            </svg>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            1
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            2
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            3
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            4
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <span class="px-3 py-1">...</span>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            8
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                            9
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button
                                                            class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                                            aria-label="Next">
                                                            <svg class="w-4 h-4 fill-current" aria-hidden="true"
                                                                viewBox="0 0 20 20">
                                                                <path
                                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                                            </svg>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </span>
                                    </div>
                                </div>
                                <% } else { %>
                                    <main class="h-full pb-16 overflow-y-auto">
                                        <div class="container flex flex-col items-center px-6 mx-auto">
                                            <svg class="w-12 h-12 mt-8 text-purple-200" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <br>
                                            <p class="text-gray-700 dark:text-gray-300">
                                                No orders found. Advertise well!!

                                            </p>
                                        </div>
                                    </main>
                                    <% } %>
                        </div>
                    </main>
            </div>
    </div>
</body>