<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
        <%- include('../admin-views/partials/side-bar.ejs') %>
            <div class="flex flex-col flex-1 w-full">
                <%- include('../admin-views/partials/header.ejs') %>
                    <main class="h-full pb-16 overflow-y-auto">
                        <!-- Remove everything INSIDE this div to a really blank page -->
                        <div class="container px-6 mx-auto grid">
                            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                All Products
                            </h2>
                            <% if(products.results.length>0){ %>

                                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full whitespace-no-wrap">
                                            <thead>
                                                <tr
                                                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                    <th class="px-4 py-3">Title</th>
                                                    <th class="px-4 py-3">Price</th>
                                                    <th class="px-4 py-3">Category</th>
                                                    <th class="px-4 py-3">Stock</th>
                                                    <th class="px-4 py-3">Size</th>
                                                    <th class="px-4 py-3">Show</th>
                                                    <th class="px-4 py-3">Edit</th>
                                                    <th class="px-4 py-3">Disable</th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                                <% for(var i=0;i<products.results.length;i++){ %>
                                                    <tr class="text-gray-700 dark:text-gray-400">
                                                        <td class="px-4 py-3">
                                                            <div class="flex items-center text-sm">
                                                                <!-- Avatar with inset shadow -->
                                                                <!-- <div
                                                                class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                                <img class="object-cover w-full h-full rounded-full"
                                                                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                                                                    alt="" loading="lazy" />
                                                                <div class="absolute inset-0 rounded-full shadow-inner"
                                                                    aria-hidden="true"></div>
                                                            </div> -->
                                                                <div>
                                                                    <p class="font-semibold" style="overflow: hidden;
                                                                white-space: nowrap;
                                                                text-overflow: ellipsis; max-width:20em;">
                                                                        <%= products.results[i].title %>
                                                                    </p>
                                                                    <p class="text-xs text-gray-600 dark:text-gray-400">
                                                                        10x Developer
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            ₹ <%= products.results[i].price %>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= products.results[i].category.name %>
                                                        </td>
                                                        <td class="px-4 py-3 text-xs">
                                                            <%= products.results[i].stock %>

                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= products.results[i].size %>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <button @click="openModal"
                                                                onclick="showDetails( ['<%= products.results[i].title %>','<%= products.results[i].description %>','<%= products.results[i].price %>','<%= products.results[i].size %>','<%= products.results[i].stock %>','<%= products.results[i].createdAt %>','<%= products.results[i].updatedAt %>','<%= products.results[i].images[0] %>','<%= products.results[i].images[1] %>','<%= products.results[i].images[2] %>','<%= products.results[i].images[3] %>' ] )"
                                                                class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                                                Show
                                                            </button>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <span
                                                                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                                                <a
                                                                    href="/admin/dash/products/edit-product?id=<%= products.results[i]._id %>&page=<%= products.current.page %>&limit=<%= products.current.limit %>"><i
                                                                        class="fa-solid fa-pen-to-square"></i></a>
                                                            </span>

                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <span
                                                                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-green-100">
                                                                <button
                                                                    onclick="deleteAlert(['<%= products.results[i]._id %>','<%= products.results[i].title %>'])"
                                                                    @click="openModal"><i
                                                                        class="fa-solid fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div
                                        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                                        <span class="flex items-center col-span-3">
                                            Showing <%= products.results.length %> of <%= products.totalLength %>
                                        </span>
                                        <span class="col-span-2"></span>
                                        <!-- Pagination -->
                                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                                            <nav aria-label="Table navigation">
                                                <ul class="inline-flex items-center">
                                                    <% if (products.previous) { %>
                                                        <li>
                                                            <a href="/admin/dash/products?page=<%= products.previous.page %> &limit=<%= products.previous.limit %> "
                                                                aria-label="Previous">
                                                                <svg aria-hidden="true" class="w-4 h-4 fill-current"
                                                                    viewBox="0 0 20 20">
                                                                    <path
                                                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                                        clip-rule="evenodd" fill-rule="evenodd">
                                                                    </path>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <li>
                                                                <button
                                                                    class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                                    <%= products.current.page %>
                                                                </button>
                                                            </li>
                                                            <% if (products.next) { %>
                                                                <li>
                                                                    <a href="/admin/dash/products?page=<%= products.next.page %> &limit=<%= products.next.limit %> "
                                                                        aria-label="Next">
                                                                        <svg class="w-4 h-4 fill-current"
                                                                            aria-hidden="true" viewBox="0 0 20 20">
                                                                            <path
                                                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                                clip-rule="evenodd" fill-rule="evenodd">
                                                                            </path>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                </ul>
                                            </nav>
                                        </span>
                                    </div>
                                </div>
                                <% } else { %>
                                    <main class="h-full pb-16 overflow-y-auto">
                                        <div class="container flex flex-col items-center px-6 mx-auto">
                                            <svg class="w-12 h-12 mt-8 text-purple-200" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <br>
                                            <p class="text-gray-700 dark:text-gray-300">
                                                No Products found. Add a Product
                                                <a class="text-purple-600 hover:underline dark:text-purple-300"
                                                    href="/admin/dash/add-product">
                                                    here
                                                </a>
                                                .
                                            </p>
                                        </div>
                                    </main>
                                    <% } %>
                        </div>
                    </main>
            </div>

            <div x-show="isModalOpen" x-transition:enter="transition ease-out duration-150"
                x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center">
                <!-- Modal -->
                <div x-show="isModalOpen" x-transition:enter="transition ease-out duration-150"
                    x-transition:enter-start="opacity-0 transform translate-y-1/2" x-transition:enter-end="opacity-100"
                    x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0  transform translate-y-1/2" @click.away="closeModal"
                    @keydown.escape="closeModal"
                    class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
                    role="dialog" id="modal">
                    <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
                    <header class="flex justify-end">
                        <button
                            class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
                            aria-label="close" @click="closeModal">
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true">
                                <path
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd" fill-rule="evenodd">
                                </path>
                            </svg>
                        </button>
                    </header>
                    <!-- Modal body -->
                    <div class="mt-4 mb-6">
                        <!-- Modal title -->
                        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300" id="model-header">
                            Model
                        </p>
                        <br id="model-br">
                        <!-- Modal description -->
                        <p class="text-md text-gray-700 dark:text-gray-400" id="model-body">
                            Body
                        </p>
                        <br id="model-br">
                        <p class="text-sm text-gray-700 dark:text-gray-400" id="model-sub-1">
                        </p>
                        <p class="text-sm text-gray-700 dark:text-gray-400" id="model-sub-2">
                        </p>
                        <br id="model-br">
                        <p class="text-sm text-gray-700 dark:text-gray-400" id="model-sub-3">
                        </p>
                        <p class="text-sm text-gray-700 dark:text-gray-400" id="model-sub-4">
                        </p>
                        <br id="model-br">
                        <div style="display: flex;">
                            <img src="" id="model-image-1" style="max-height: 200px; margin-right: 10px;" alt="">
                            <img src="" id="model-image-2" style="max-height: 200px; margin-right: 10px;" alt="">
                            <img src="" id="model-image-3" style="max-height: 200px; margin-right: 10px;" alt="">
                            <img src="" id="model-image-4" style="max-height: 200px; margin-right: 10px;" alt="">
                        </div>
                        <br id="model-br">
                        <p class="mb-2 text-md font-semibold text-gray-700 dark:text-gray-300" id="model-price">
                        </p>
                    </div>
                    <footer class=" flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0
                            sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800">
                        <button @click="closeModal"
                            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                            Cancel
                        </button>
                        <a href="" id="button-delete"
                            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Accept
                        </a>
                    </footer>
                </div>
            </div>
            <% if (message.length>0) { %>
                <script>
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener("mouseenter", Swal.stopTimer);
                            toast.addEventListener("mouseleave", Swal.resumeTimer);
                        },
                    });

                    Toast.fire({
                        icon: "success",
                        title: message,
                    });
                </script>
                <% } %>
                    <!-- End of modal backdrop -->
    </div>
    <script src="/admin/js/user-scripts/products.js"></script>
</body>