<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
        <%- include('../admin-views/partials/side-bar.ejs') %>
            <div class="flex flex-col flex-1 w-full">
                <%- include('../admin-views/partials/header.ejs') %>
                    <main class="h-full pb-16 overflow-y-auto">
                        <!-- Remove everything INSIDE this div to a really blank page -->
                        <div class="container px-6 mx-auto grid">
                            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                                Sales Report
                            </h2>
                            <% if(orders.results.length>0){ %>
                                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                                    <div class="w-full overflow-x-auto">
                                        <iframe id="txtArea1" style="display:none"></iframe>
                                        <table class="w-full whitespace-no-wrap" id="sales-report-table">
                                            <thead>
                                                <tr
                                                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                    <th class="px-4 py-3">User</th>
                                                    <th class="px-4 py-3">Order Status</th>
                                                    <th class="px-4 py-3">Pyment Type / Status</th>
                                                    <th class="px-4 py-3">Ordered Date</th>
                                                    <th class="px-4 py-3">Order Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                                <% for(var i=0;i<orders.results.length;i++){ %>
                                                    <tr class="text-gray-700 dark:text-gray-400">
                                                        <td class="px-4 py-3">
                                                            <a
                                                                href="/admin/dash/orders/order-details?id=<%= orders.results[i]._id %>">
                                                                <div class="flex items-center text-sm">
                                                                    <p class="font-semibold" style="overflow: hidden;
                                                                white-space: nowrap;
                                                                text-overflow: ellipsis; max-width:20em;">
                                                                        <%= orders.results[i].user.fullname %>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders.results[i].orderStatus %>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders.results[i].paymentDetails.paymentType %>/<%=
                                                                    orders.results[i].paymentDetails.paymentStatus %>

                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders.results[i].createdAt %>
                                                        </td>
                                                        <td class="px-4 py-3 text-sm">
                                                            <%= orders.results[i].finalPrice %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <tr
                                                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                        </tr>
                                                        <tr
                                                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                            <th class="px-4 py-3">Total</th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3"></th>
                                                            <th class="px-4 py-3">
                                                                <%= total %>
                                                            </th>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div
                                        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                                        <span class="flex items-center col-span-3">
                                            Showing <%= orders.results.length %> of <%= orders.results.length %>
                                        </span>
                                        <span class="col-span-2"></span>
                                        <!-- Pagination -->
                                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                                            <nav aria-label="Table navigation">
                                                <ul class="inline-flex items-center">
                                                    <% if (orders.previous) { %>
                                                        <li>
                                                            <a href="/admin/dash/sales-report?page=<%= orders.previous.page %> &limit=<%= orders.previous.limit %> "
                                                                aria-label="Previous">
                                                                <svg aria-hidden="true" class="w-4 h-4 fill-current"
                                                                    viewBox="0 0 20 20">
                                                                    <path
                                                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                                        clip-rule="evenodd" fill-rule="evenodd">
                                                                    </path>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <% } %>

                                                            <li>
                                                                <button
                                                                    class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                                                    <%= orders.current.page %>
                                                                </button>
                                                            </li>
                                                            <% if (orders.next) { %>
                                                                <li>
                                                                    <a onclick="hello()"
                                                                        href="/admin/dash/sales-report?page=<%= orders.next.page %> &limit=<%= orders.next.limit %> "
                                                                        aria-label="Next">
                                                                        <svg class="w-4 h-4 fill-current"
                                                                            aria-hidden="true" viewBox="0 0 20 20">
                                                                            <path
                                                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                                clip-rule="evenodd" fill-rule="evenodd">
                                                                            </path>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                </ul>
                                            </nav>
                                        </span>
                                    </div>
                                </div>
                                <button id="btnExport" onclick="fnExcelReport();"
                                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                    EXPORT
                                </button>
                                <% } else { %>
                                    <main class="h-full pb-16 overflow-y-auto">
                                        <div class="container flex flex-col items-center px-6 mx-auto">
                                            <svg class="w-12 h-12 mt-8 text-purple-200" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <br>
                                            <p class="text-gray-700 dark:text-gray-300">
                                                No orders found. Advertise well!!
                                            </p>
                                        </div>
                                    </main>
                                    <% } %>
                        </div>
                    </main>
            </div>
    </div>
    <script>
        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('sales-report-table'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
</body>